{% extends 'admin/base.html.twig' %}

{% block title %}Houses{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Edit house: {{ house.title }}</h1>
    <hr>
    {% include 'admin/house/_form.html.twig' with {btnText: 'Save'} %}
</div>
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').select2();
        });
    </script>
{% endblock %}
