{% extends 'admin/base.html.twig' %}

{% block title %}Houses{% endblock %}

{% block body %}
<div class="container mt-4">
    {% include 'admin/house/_form.html.twig' with {btnText: 'Add'} %}
</div>
{% endblock %}
