{% extends 'base.html.twig' %}

{% block title %}Hello HouseController!{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <div class="col-8">picture here</div>
        <div class="col-4">
            house details
        </div>
    </div>

</div>
{% endblock %}
