{% extends 'admin/base.html.twig' %}

{% block title %}Options{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Edit option: {{ option.name }}</h1>
    <hr>
    {% include 'admin/option/_form.html.twig' with {btnText: 'Save'} %}
</div>
{% endblock %}
